@font-face {
	font-family: 'JannaLT';
	src: local('JannaLT'), url('JannaLT.ttf') format('truetype');
}

@font-face {
	font-family: 'icomoon';
	src: url('fonts/icomoon.eot?29fqx');
	src: url('fonts/icomoon.eot?29fqx#iefix') format('embedded-opentype'), url('fonts/icomoon.ttf?29fqx') format('truetype'), url('fonts/icomoon.woff?29fqx') format('woff'),
		url('fonts/icomoon.svg?29fqx#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
	font-display: block;
}

[class^='icon-'],
[class*=' icon-'] {
	/* use !important to prevent issues with browser extensions that change fonts */
	font-family: 'icomoon' !important;
	speak: never;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-text:before {
	content: '\e900';
}
.icon-eraser:before {
	content: '\e904';
}
.icon-trash:before {
	content: '\e901';
}
.icon-ruler:before {
	content: '\e902';
}
.icon-download:before {
	content: '\e903';
}
.icon-hand:before {
	content: '\e905';
}
.icon-pencil:before {
	content: '\e906';
}
.icon-picker:before {
	content: '\e907';
}
.icon-reset:before {
	content: '\e908';
}

* {
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-o-user-select: none;
	user-select: none;
	-webkit-user-drag: none;
	-khtml-user-drag: none;
	-moz-user-drag: none;
	-o-user-drag: none;
	user-drag: none;
}

.button {
	/* opacity: 1; */
	transition: opacity 0.1s;
}
.button:hover {
	/* border: 1px solid black; */
	opacity: 0.5;
}
.button:active {
	/* border: 1px solid black; */
	opacity: 0.3;
}

.indicator-text {
	font-weight: bold;
	font-family: JannaLT;
	font-size: 8px;
	/* font: bold 2em JannaLT; */
	fill: black;
}

.users {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.user {
	position: fixed;
	top: 0;
	left: 0;
	width: max-content;
	height: 10px;
	padding: 7px;
	background-color: rgba(0.26666666666, 0.26666666666, 0.26666666666, 0.55);
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	border-radius: 8px;
	font-size: 20px;
}

.user-name {
	margin-left: 2px;
	font-size: 15px;
}
